<!doctype html>
<html lang="en">
 <head> <meta charset="utf-8">
   <title>D.S.S.P.P. On Python for GAE</title>
 </head>
 <body>
   <h1>Welcome to the DSSPP. Please choose your language:</h1>
   <form action="proc_form" method="POST">
     <table>
       <tr>
         <th>Language:</th>
         <td>English<input type="radio" name="language" value="English" checked="yes" /><br />
           Spanish<input type="radio" name="language" value="Spanish" /><br />
         </td>
       </tr>
     </table>
     <input type="submit" value="Submit" />
   </form>
 </body>
</html>
